################################################################################
# Touhou launcher configuration file                                           #
#                                                                              #
# Lines consisting only of whitespace and lines whose first non-whitespace     #
# character is '#' are ignored.                                                #
#                                                                              #
# Touhou launcher .cfg format consists of a list of values assigned to keys.   #
# Line format is <key> = <value>. Whitespace surrounding the key is            #
# automatically removed during file parsing. Whitespace surrounding the value  #
# is removed as well; to preserve whitespace, include it in between two double #
# quote characters.                                                            #
#                                                                              #
# The type of each value is determined automatically. Double quoting the value #
# forces it to be read as a string. If there are no double quotes, the value   #
# is checked to be an int, then a float. If the value is neither numberic      #
# format, it is read as a string.                                              #
################################################################################

resolution_width = 1080
resolution_height = 720

background = "background.jpg"

video_list = "videos.lst"
key_bindings = "bindings.cfg"
idle_timeout = 5000
wheels_dir = "wheels"
items_dir = "items"

root_wheel_id = "_MAIN_"

# Menu style options
menu_percent_width = 60
menu_main_item_percent_height = 50
menu_item_vertical_spacing = 10
menu_item_font_size = 24
menu_item_font_size_selected = 36
